html, body {
    margin: 0;
}

body {
	background: url('../images/login_background.jpg') no-repeat center center fixed;
    margin: 0;
    font-family: "Opan Sans";
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.login-page {
    display: flex;
}

.app-details {
	border-radius: 0.5rem 0rem 0rem 0.5rem  ;
    background:#0D2E50;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-details .logo {
    width: 6vw;
}

.app-name, .tagline {
    margin: 0.25rem 0rem;
    text-align: center;
}

.app-name {
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}

.tagline {
    font-size: 1.3vw;
    color: #ffffff;
}

.login-form {
    background: #ffffff;
    border-radius: 0rem 0.5rem 0.5rem 0rem  ;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0D2E50;
    width:25vw;
}

.login-form-heading {
    margin: 0;
    font-size: 2vw;
    margin:  0.3125rem 0;
    font-weight: bold;
}

.tagline1 {
    margin:  0.3125rem 0;
    font-size: 1.25vw;
    text-align: center;
}

.login-attribute1 {
    width: 100%;
    margin: 0.625rem 0rem;
}

.login-placeholder1 {
    width: 23.5vw;
    padding: 0.5rem;
    margin-bottom: 0.3125rem;
    border: none;
    border-bottom: 0.1px solid #0D2E50;
    background: none;
    color: #0D2E50;
    font-size: 1.25vw;
}

.submit-button {
    background: #0D2E50;
    color: #ffffff;
    margin-top: 1rem;
    border: none;
    border-radius:0.1rem;
    padding: 0.75rem;
    font-size: 2vw;
    cursor: pointer;
    transition: background 0.3s;
     width: 25vw;
}

